.box_info {
  margin-left: 15px;
}

.box_item_result {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #fff;
  border-radius:10px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  margin-bottom: 20px;
  height:100px;
}

.box_item_result .box_icon {
  width: 23%;
}

.box_item_result .box_info h3 {
  font-size: 1.3rem !important;
  color: #fff;
  font-weight: 200;
}

.box_item_result .box_info h5 {
  color: #fff;
}

@media (max-width: 991px) {
  .box_item_result {
    height:130px;
  }
}